@model Template_RealEstate_20052019.Models.Article

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                @using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body">
                        @Html.HiddenFor(x => x.ArticleId)
                        <div class="form-group">
                            @Html.LabelFor(x => x.ArticleTitle)
                            @Html.TextBoxFor(x => x.ArticleTitle, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ArticleTitle, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Sapo)
                            @Html.TextAreaFor(x => x.Sapo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Sapo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Content)
                            @Html.TextAreaFor(x => x.Content, new { @id = "editorContent", @style = "display:none, visibility:hidden", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Content, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.HiddenFor(x => x.Avatar)
                            @Html.LabelFor(x => x.Avatar)
                            <input type="file" name="file" />
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript" src="~/admin/lib/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/admin/dist/js/ckfinder/ckfinder.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            CKEDITOR.replace("editorContent");
        });
    </script>
}
