@using Template_RealEstate_20052019.Models
@model Template_RealEstate_20052019.Models.GridModel<Article>


<section class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-10">
                            <a href="@Url.Action("Edit", "Article", new { Area="Backend"})" type="button" class="btn btn-block btn-primary">Thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách bài viết</h3>
                </div>
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tên bài viết</th>
                                <th>Sapo</th>
                                <th>Ngày tạo</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model?.Data != null && Model.Data.Any())
                            {
                                foreach (var item in Model.Data)
                                {
                                    <tr>
                                        <td>@item.ArticleId</td>
                                        <td>@item.ArticleTitle</td>
                                        <td>@item.Sapo</td>
                                        <td>@item.CreatedDate.ToString("dd-MM-yyyy")</td>
                                        <td>
                                            <a href="@Url.Action("Edit", "Article", new { Area="Backend"})">Sửa</a>
                                            <a href="@Url.Action("Delete", "Article", new { Area="Backend"})">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Tên bài viết</th>
                                <th>Sapo</th>
                                <th>Ngày tạo</th>
                                <th>Hành động</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>