@using Template_RealEstate_20052019.Areas.FrontEnd.Models
@model ProjectInformation

@if (Model != null)
{
    <!-- Start About area -->
    <div id="overview" class="section-padding">
        <div class="container">
            <div class="page-title text-center">
                <h1>Tổng quan dự án</h1>
                <p></p>
                <hr class="pg-titl-bdr-btm"></hr>
            </div>
            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                        <div class="single-well">
                            <a href="#">
                                <img style="height:auto; width: 100%;" src="@Model.Image" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-middle">
                        <div class="single-well">
                            <div class="service-text">
                                <h3>@Model.ProjectName</h3>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ProjectSlogan))
                            {
                                <p>
                                    @Model.ProjectSlogan
                                </p>
                            }
                            <ul style="list-style: none;">
                                @if (!string.IsNullOrEmpty(Model.InvestorName))
                                {
                                    <li>
                                        <i class="fa fa-check"></i> Chủ đầu tư: @Model.InvestorName
                                    </li>
                                }

                                @if (!string.IsNullOrEmpty(Model.Supplier))
                                {
                                    <li>
                                        <i class="fa fa-check"></i> Nhà phân phối: @Model.Supplier
                                    </li>
                                }

                                @if (!string.IsNullOrEmpty(Model.Address))
                                {
                                    <li>
                                        <i class="fa fa-check"></i> Vị trí: @Model.Address
                                    </li>
                                }

                                @if (!string.IsNullOrEmpty(Model.Area))
                                {
                                    <li>
                                        <i class="fa fa-check"></i> Diện tích: @Model.Area
                                    </li>
                                }

                                @if (!string.IsNullOrEmpty(Model.FloorArea))
                                {
                                    <li>
                                        <i class="fa fa-check"></i> Diện tích mặt sàn: @Model.FloorArea
                                    </li>
                                }

                                @if (!string.IsNullOrEmpty(Model.ConstructionArea))
                                {
                                    <li>
                                        <i class="fa fa-check"></i> Diện tích xây dựng: @Model.ConstructionArea
                                    </li>
                                }

                                @if (Model.Scale != null)
                                {
                                    <li>
                                        <i class="fa fa-check"></i> Quy mô: @Html.Raw(Model.Scale.Description)
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End col-->
            </div>
        </div>
    </div>
    <!-- End About area -->
}

